@import '@/styles/quasar.variables.scss';

.sticky-header{
  @media screen and (max-width: $breakpoint-lg){
    height: 650px;
  }

  @media screen and (min-width: $breakpoint-lg){
    height: 950px;
  }

  .q-table__top,
  .q-table__bottom,
  thead tr:first-child th{
    background-color: #ffff;
  }

  thead tr th{
    position: sticky;
    z-index: 1;
  }
  thead tr:first-child th{
    top: 0;
  }
}

.u-link{
    color: $blue-8;
    text-decoration: none;
    .u-link:visited{
        color: $blue-8;
        text-decoration: none;
    }
}

.table-strip{
  tr:nth-child(even){
    background-color: #f2f2f2;
  }
}

.u-text-title{
  color: $grey-8;
}

.u-text-key{
  font-weight: 700;
  // color: $grey-9;
}